body {
    background-image: url(../assets/img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.cabecalho {
    display: flex;
    font-family: 'Inter', sans-serif;
    align-items: center;
    padding: 50px 0 0 20px; 
}
  
.cabecalho__menu__link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 40px;
}
  
.cabecalho__menu__link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.inicio__link {
    color: #FFFFFF;
    text-decoration: underline;
}

.inicio__link:hover {
    color: #000000;
    text-decoration: none;
}

.apresentacao__podcast {
    display: flex;
    align-items: flex-start;
}

.imagem__pessoas {
    margin: 2em 2em 0 4.3em;
}

.podcast__info {
    display: flex;
    flex-direction: column;
}

.podcast__nome {
    font-family: 'Fjalla One', sans-serif;
    color: #242424;
    font-size: 150px;
    margin-bottom: 0;
    line-height: 1.0;
    font-weight: 400;
    margin-top: 10px;
}

.podcast__subtitulo__texto {
    font-family: 'Inter', sans-serif;
    color: #FFFFFF; 
}

.boca__1 {
    width: 60px;
    height: auto;
    margin-top: 50px;
}

.boca__2 {
    margin-right: 1em;
    height: auto;
    width: 30px;
}

.rodape {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
